@use "./mixins.scss" as *;

.character-item-page {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding-block: 3rem;

  @include media(lg) {
    gap: 5rem;
  }

  .top-row {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;

    @include media(lg) {
      flex-direction: row;
    }

    .left-controls {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;

      @include media(lg) {
        justify-content: flex-start;
      }

      button {
        background-color: var(--gray-8);
        border: 1px solid var(--gray-8);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.75em 1.25em;
        gap: 0.6em;
        border-radius: var(--radius-2);
        font-size: 0.8rem;
        text-transform: uppercase;
        transition: background-color 200ms var(--ease-in-2);

        &:hover {
          background-color: var(--gray-9);
        }
      }
    }

    .next-prev {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      @include media(lg) {
        justify-content: flex-start;
      }

      button {
        background-color: var(--gray-8);
        border: 1px solid var(--gray-8);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.35em 0.5em;
        gap: 0.6em;
        border-radius: var(--radius-2);
        font-size: 0.8rem;
        text-transform: uppercase;
        transition: background-color 200ms var(--ease-in-2),
          color 200ms var(--ease-in-2);

        @include media(lg) {
          padding: 0.75em 1em;
        }

        &:hover {
          background-color: var(--yellow-9);
          color: var(--gray-9);
        }
      }
    }
  }

  .image {
    inline-size: 100%;
    margin-inline: auto;

    @include media(md) {
      inline-size: 300px;
      margin-inline: 0;
    }
  }

  .content {
    .name-row {
      display: inline-flex;
      align-items: center;
      gap: 1.5rem;

      & > h2 {
        font-size: var(--font-size-4);

        @include media(lg) {
          font-size: var(--font-size-7);
        }
      }

      .status {
        display: inline-flex;
        padding: 0.25rem 0.75rem;
        border-radius: 99rem;
        font-size: var(--font-size-0);
        text-transform: uppercase;

        @include media(lg) {
          padding: 0.5rem 1rem;
        }

        &.alive {
          background-color: var(--green-3);
          color: #000;
        }

        &.presumed-dead {
          background-color: var(--orange-3);
          color: #000;
        }

        &.deceased {
          background-color: var(--red-3);
          color: #000;
        }
      }
    }

    .cast-name {
      color: var(--gray-6);
      margin-block: 2rem;
    }

    .occupation {
      p {
        text-transform: uppercase;
        font-size: var(--font-size-1);
        color: var(--yellow-7);
      }
      ul {
        padding-left: 1rem;
        font-size: var(--font-size-1);
        margin-block-start: 0.5rem;
        color: var(--gray-6);
      }
    }

    .episodes {
      margin-block-start: 2rem;
      p {
        text-transform: uppercase;
        font-size: var(--font-size-1);
        color: var(--yellow-7);
      }

      ul {
        list-style: none;
        font-size: var(--font-size-1);
        margin-block-start: 0.5rem;
        display: inline-flex;
        align-items: center;
        gap: 1rem;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          --size: 32px;
          height: var(--size);
          font-size: var(--font-size-1);
          width: var(--size);
          background-color: var(--gray-8);
          border-radius: var(--radius-2);
          transition: background-color 150ms var(--ease-in-2);
          box-shadow: var(--shadow-1);
        }
      }
    }

    .death-status {
      margin-block-start: 3rem;

      .row + .row {
        margin-block-start: 2rem;
      }

      .heading {
        text-transform: uppercase;
        font-size: var(--font-size-1);
        color: var(--yellow-7);
        font-weight: 400;
        margin-block-end: 0.75rem;
      }

      p {
        color: var(--gray-6);
      }
    }

    .quote {
      margin-block-start: 3rem;

      .row + .row {
        margin-block-start: 2rem;
      }

      .heading {
        text-transform: uppercase;
        font-size: var(--font-size-1);
        color: var(--yellow-7);
        font-weight: 400;
        margin-block-end: 0.75rem;
      }

      p {
        color: var(--gray-6);
      }
    }
  }
}
