@use "./mixins.scss" as *;

.characters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding-block: 3rem;

  &.has-search-items {
    grid-template-columns: repeat(auto-fit, 200px);
  }
}

.character-card-item {
  text-decoration: none;
  color: inherit;
  padding: 1.35rem;
  border: 2px solid var(--gray-8);
  border-radius: var(--radius-2);
  transition: border-color 150ms var(--ease-in-2);
  box-shadow: var(--shadow-1);

  @media (prefers-color-scheme: light) {
    border: 2px solid var(--gray-2);
  }

  &:hover {
    border-color: var(--color-scheme);

    .nickname {
      background-color: var(--color-scheme);
      color: #fff;
    }
  }

  .name {
    font-size: var(--font-size-2);
    font-weight: 600;
    margin-block-end: 0.5rem;
  }

  .image {
    display: block;
    inline-size: 100%;
    block-size: 320px;
    object-fit: cover;
    object-position: top;
    margin-block-end: 1rem;

    @include media(lg) {
      block-size: 240px;
    }
  }

  .nickname {
    font-size: var(--font-size-0);
    text-transform: uppercase;
    display: inline-flex;
    padding: 0.3rem 0.75rem;
    background-color: var(--gray-8);
    border-radius: 9rem;
    transition: background-color 150ms var(--ease-in-2);

    @media (prefers-color-scheme: light) {
      color: #fff;
    }
  }
}

.controls {
  display: flex;
  align-items: center;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search {
    cursor: text;
    outline: none;
    padding: 0.75rem 1rem;
    display: block;
    inline-size: 100%;
    max-inline-size: 400px;
  }
}
